body {
    background-color: whitesmoke;
}

.navBar {
    border-radius: 1rem;
    gap: 35rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid #030C12;
}

.navBar h1 {
    font-family: Georgia, serif;
}

.linksNavBar ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    
    
    

}

.linksNavBar li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    border-bottom: 2px solid #030C12;   
    text-decoration: none;
    color: black;

}

.linksNavBar li:hover {

    transition: 0.3s;
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #21f021;
    


}





